<nav aria-label="breadcrumbs">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            {{#primary_tag}}<a href="{{url}}">{{name}}</a>{{/primary_tag}}
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
    </ol>
</nav>