{{!< default}}

<div>
    <h1 class="font-semibold text-lg text-blue-500">Welcome to My Awesome Site</h1>
    <p>Written by Isaac M. Tait</p>

    <a class="font-semibold text-xs" href="/novel">Novel</a>
    <a href="/tag/news">News</a>
</div>