{{!< default}}

<div>
    <header class="header">
        <div class="header__nav">
            {{navigation type="secondary"}}
        </div>
    </header>
    <div class="page-width">
    {{#page}}
        <h1 class="page-title">{{title}}</h1>
        <section class="page-content">
            {{content}}
        </section>
    {{/page}}
</div>
</div>