{{!< default}}

<div class="page-width">
    {{#page}}
        
        <header class="page-header">
            <h1 class="page-title">{{title}}</h1>
        </header>
        <section class="page-content">
            {{content}}
        </section>
    {{/page}}
</div>