{{!< default}}

<div>
    {{#post}}
        {{> "breadcrumbs"}}
        
        <header>
            <h1>{{title}}</h1>
        </header>
        <section>
            {{content}}
        </section>
    {{/post}}
</div>