{{!< default}}

<div class="page-width">
    {{#tag}}
        <div>
            <h1>{{ name }}</h1>
        </div>
    {{/tag}}

    <div class="posts">
        {{#foreach posts filter="published_at asc"}}
            <a href="{{url absolute="true"}}">
                {{title}}
            </a>
        {{/foreach}}
    </div>
</div>